@charset "utf-8";
/* CSS Document */

body,td,th,p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
  line-height: 1.5;
  text-align: center;
}
body {
  background-color: #fff;
  margin: 0;
  position:relative;
}
ul, li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
}
a {
  color: orange;
  text-decoration: none;
}
a:hover, a:focus {
  color: #3397db;
  text-decoration: none;
}
a img{
  border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
.center {
  text-align: center;
  margin: 0 auto;
}

#maincontent {
  min-height: 100%;
  width: 100%;
  text-align: center;

}
.footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  bottom: 0;
  left: 0;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align:center;
  padding: 20px 0;
  position: relative;
}
nav h1 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
  padding: 10px 0;
  list-style: none;
  background-color: #eee;
  font-size: 17px;
  margin: 0;
  /*width: calc(50% - 80px);*/
  width: 100%;
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  padding: 5% 5%;
  /*height: 50px;*/
  background-color: #3397DB;
  align-items: center;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  /*height: 35px;*/
  letter-spacing: 0;
  /*margin: 10px;
  padding: 0 10px;
  width: 200px;*/
  width: 75%;
  padding: 0 5%;
  margin: 5%;
}

/* ====================== Restaurant Listing ====================== */
.grid-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
}
.grid-item {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 15px;
  min-height: 380px;
  /*padding: 30px 25px;*/
  width: 270px;
  text-align: center;
}

#restaurants-list {
  /*background-color: #f3f3f3;*/
  list-style: outside none none;
  margin: auto;
  padding: 0;
  text-align: center;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 15px;
  /*min-height: 380px;*/
  padding: 30px 25px;
  text-align: left;
  /*width: 270px;*/
  align-items: center;
  height: auto;
  min-width: 0;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  /*display: block;*/
  margin: 0;
  width: 270px;
  /*max-width: 100%;*/
  max-height: 248px;
  /*min-width: 100%;*/
}
#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: darkslategray none repeat 0 0;
  height: 500px;
  /*position: fixed;
  right: 0;
  top: 80px;*/
  width: 75%;
  display: block;
  margin: 0 auto;
}
.inside #maincontent {
  margin-top: 200px;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

.rest-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
  text-align: center;
  align-content: center;
}
.rest-item {
  padding: 0 25px;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  /*width: 100%;*/
}
#restaurant-name {
  color: darkslategray;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  line-height: 1.1;
  width: 100%;
}
#restaurant-img {
  width: 800px;
  margin: 0;
  max-width: 100%;
  max-height: 600px;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0;
  display: block;
  width: 100%;
}
#restaurant-cuisine {
  background-color: darkslategray;
  color: #fff;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
#restaurant-container, #reviews-container {
  /*border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;*/
  margin: auto;
  padding: 0;
  text-align: center;
  justify-content: center;
  height: auto;
  min-width: 0;
  align-items: center;
}

#reviews-container {
  padding: 15px;
}
#reviews-container h2 {
  color: darkslategray;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
.review-div {
  /*width: 100%;*/
  box-sizing: border-box;
  display: block;
  border: 2px solid #f3f3f3;
  margin: 0 0 10px;
  padding: 10px;
}
.review-div p {
  margin: 0;
  font-size: 13px;
}

#reviews-list {
  margin: 0 0 20px 0;
  padding: 0;
}
/*#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 20px 20px;
  position: relative;
  width: 85%;
}*/
#reviews-list li p {
  margin: 0 0 10px;
}
figcaption, figure {
  font-size: 1em;
}
#day {
   font-weight: bold;
   color: #01447e;
   padding: 5px;
   margin: 0 10px;
   /*float: left;*/
 }
 #time {
   padding: 5px 0;
   text-align: left;
 }
@media screen and (max-width: 600px) {
  #restaurant-hours {
    padding: 10px;
    margin-bottom: 20px;
    width: 60%;
    box-sizing: border-box;
  }
  #day {
    font-weight: bold;
    color: #01447e;
    padding: 5px;
    margin: 0 10px;
    float: left;
  }
  #time {
    padding: 5px 0;
    text-align: left;
  }
}
@media screen and (min-width: 795px) {
  #restaurant-hours {
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  #day {
    font-weight: bold;
    color: #01447e;
    box-sizing: border-box;
    padding: 5px;
    margin: 0 10px;
    float: left;
  }

  #time {
    box-sizing: border-box;
    padding: 5px 0;
    margin-left: 200px;
    text-align: left;
  }
  #restaurant-img {
    width: 800px;
    margin: 0;
    max-width: 75%;
    max-height: 600px;
  }
  .filter-options select {
    background-color: white;
    border: 1px solid #fff;
    font-family: Arial,sans-serif;
    font-size: 2em;
    width: 45%;
    letter-spacing: 0;
    padding: 0 5%;
    margin: 2%;
  }
  #restaurant-cuisine {
    width: 75%;
  }
  .review-div p {
    font-size: 16px;
  }
  figcaption, figure {
    font-size: 1.3em;
  }
}
@media screen and (min-width: 1249px) {
  .filter-options {
    padding: 2% 1%;
  }
  .review-div {
    width: 50%;
    box-sizing: border-box;
    display: block;
    border: 2px solid #f3f3f3;
    margin: 10px;
    padding: 5px;
  }
  #reviews-list {
    display: flex;
    margin: 0 15px;
  }
  #maincontent {
    min-height: 100%;
    width: 80%;
    margin: 0 auto;
  }

}


